#header  {
    text-align: center;
    color: rgb(6, 6, 6);
    background-image:url('headbackground.jpg');
    padding: 200px;
}

#skills {
    padding-left: 50px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 112px;
    height: 112px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#nav {
    display: inline;
    float: left;
  }
  a {
    display: block;
    padding: 8px;
 
  }