#header  {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
    background-image:url('headbackground.jpg');

}
#connect {
  padding-top: 18%;
}
.skills {
  text-align: center;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 112px;
    height: 112px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#nav {
    display: inline;
    float: left;
  }
  a {
    display: block;
    padding: 8px;
 
  }

  #main-content {
    text-align: center;
  }